<div class="contenedor-principal">
  <div class="header">
    <img src="/assets/logos/logoletras.svg" alt="Logo" />
  </div>

  <div class="seccion-pago">
    <div class="tarjeta-pago">
      
      <div class="accion-regresar">
        <i class="pi pi-arrow-left"></i>
        <span>Regresar</span>
      </div>

      <div class="bloque-exito">
        <div class="circulo-check">
          <i class="pi pi-check"></i>
        </div>
        <h2 class="titulo-exito">PAGO EXITOSO</h2>
        <p class="subtitulo-exito">
          Tu reserva para <span class="fuerte">Ciudad de origen → Ciudad de destino</span> ha sido confirmada con la unidad <span class="fuerte">#00</span>
        </p>
      </div>

      <div class="bloque-detalle-tarjeta">
        <h3 class="titulo-tarjeta-interna text-center">REF. PAGO<br>COOPERATIVA - 000</h3>
        
        <div class="contenido-datos">
          <p><span class="fuerte">Fecha de pago:</span> <span class="texto-gris">-- de -- de ---- - --:--</span></p>
          <p><span class="fuerte">Ruta:</span> <span class="texto-gris">Ciudad de origen → Ciudad de destino</span></p>
          <p><span class="fuerte">Fecha de viaje:</span> <span class="texto-gris">-- de -- de ----</span></p>
          <p><span class="fuerte">Número de unidad:</span> <span class="texto-gris">##</span></p>
          <p><span class="fuerte">Número de andén:</span> <span class="texto-gris">##</span></p>
          <p><span class="fuerte">Asientos:</span> <span class="texto-gris">Ninguno seleccionado</span></p>
        </div>
      </div>

      <div class="bloque-detalle-tarjeta">
        <h3 class="titulo-tarjeta-interna text-center">RESUMEN DE PAGO</h3>
        
        <table class="tabla-resumen">
          <thead>
            <tr>
              <th>CANT</th>
              <th>DESC</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center texto-gris">0</td>
              <td class="texto-gris">PASAJE</td>
              <td class="text-center texto-gris">$0.00</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bloque-detalle-tarjeta">
        <h3 class="titulo-tarjeta-interna text-center">RESUMEN DE PASAJEROS</h3>
        
        <div class="item-pasajero">
          <i class="pi pi-user icono-pasajero"></i>
          <div class="datos-pasajero">
            <span class="fuerte nombre-p">Nombre de pasajero</span>
            <span class="texto-gris cedula-p">Cédula de identidad</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>