@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('/assets/images/guayaquil.jpg');
  background-size: cover;
  background-position: center;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
}